<modal id="modal-1" class="modal">
    <div class="modal-body" style="background-color: rgba(0, 0, 0, 0.9); color: aliceblue">
        <h1 style="height:100px">Products</h1>
          <table class="table">
            <thead>
                <tr>
                  <th scope="col">Product Name</th>
                  <th scope="col">Id</th>
                  <th scope="col">Price</th>
                  <th scope="col">Default Quantity</th>
                  <th scope="col">Actual Quantity</th>
                  <th scope="col">Type</th>
                  <th scope="col">Details</th>
                  <th scope="col">Selected</th>
                </tr>
            </thead>
            <tbody class="products"> 
                <tr *ngFor="let product of products"  [class.selected]="product === selectedProduct" (click)="onSelect(product)">
                  <th scope="row">{{product.productName}}</th>
                  <td>{{product.id}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.defaultQuantity}}</td>
                  <td>{{product.actualQuantity}}</td>
                  <td>{{product.type}}</td>
                  <td>{{product.details}}</td>
                  <td class="text-center">
                    <span [ngClass]="product == selectedProduct ? 'label label-warning': 'label label-primary'">{{product.selected}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
        <button type="button" class="btn btn-warning" (click)="closeModal('modal-1');">Close</button>
        <button type="button" *ngIf="productSelected == true" class="btn btn-primary" style="float: right;" (click)="addProductToDetails(selectedProduct, quantity)">Add Product</button>
        <input type="number" [(ngModel)]="quantity"  *ngIf="productSelected == true" style="float: right; color: black; width: 50px; height: 34px;"/>   
    </div>
<div class="modal-background"></div>
</modal>
