<div class="row">
  <div class="col-xs-12"  *ngFor="let order of orders" [class.selected]="order.selected === true">
    <span class="label label-info" *ngIf="order.selected === true">Order ID: {{order.selected.id}}</span>
  </div>
</div>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Details</th>
        <th scope="col">Paid</th>
        <th scope="col">Selected</th>
      </tr>
    </thead>
  <tbody>  
    {{setShow()}}  
    <tr *ngFor="let detail of details" [class.selected]="detail === selectedDetail" (click)="onSelect(detail)" >   
        <th scope="row" *ngIf="detail.show == true">{{detail.id}}</th>
        <td *ngIf="detail.show == true">{{detail.name}}</td>
        <td *ngIf="detail.show == true">{{detail.quantity}}</td>
        <td *ngIf="detail.show == true">{{detail.price}}</td>
        <td *ngIf="detail.show == true">{{detail.comment}}</td>
        <td *ngIf="detail.show == true">{{detail.paid}}</td>
        <td *ngIf="detail.show == true"><button type="button" class="btn btn-success" ng-model="selected">{{detail.selected}}</button></td> 
    </tr>
  </tbody>
</table>
<hr>
<div class="text-center">
    <button type="button" class="btn btn-primary">+</button>
  </div>
  <div class="text-center">
    <button type="button" class="btn btn-success">Checkout</button>
  </div>
