<div class="row">
  <div class="col-xs-12"></div>
</div>
<hr>
<div *ngIf="orderSelected; else notSelected">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id: {{orderId}}</th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Sum</th>
        <th scope="col">Details</th>
        <!--<th scope="col">Selected</th>-->
      </tr>
    </thead>
  <tbody>
    <tr *ngFor="let detail of details" [class.selected]="detail === selectedDetail" (click)="onSelect(detail)" >   
        <th scope="row">{{detail.id}}</th>
        <td>{{detail.productName}}</td>
        <td>{{detail.quantity}}</td>
        <td>{{detail.price}}</td>
        <td>{{detail.sum}}</td>
        <td>{{detail.comment}}</td>
      <!--  <td><button type="button" class="btn btn-success" ng-model="selected">{{detail.selected}}</button></td>-->
    </tr>
  </tbody>
</table>
<hr>
<div>
  <p style="font-size: 18pt;">TOTAL: <span style="float: right; margin-right: 40%;">{{total}}</span> </p> 
</div>

<hr>
<div class="text-center">
    
    <button type="button" class="btn btn-primary" (click)="openModal('modal-1')">
      ADD PRODUCT
    </button>
    <button type="button" class="btn btn-warning" (click)="deleteDetail()">DELETE LAST</button>
    <button type="button" class="btn btn-success">CHECKOUT</button>   
  </div>
</div>
  <app-product (counter) = 'getNewQuantity($event)' (sendComment) = 'setComment($event)' (newDetail) = 'addNewDetail($event)'></app-product>
  <ng-template #notSelected>
      <div class="col-xs-12" style="text-align: center;">
        <span class="label label-primary text-center">NO ORDER SELECTED</span>
      </div>
    </ng-template>